mixin catalogCard(title, countProduct, img)
	.catalog-card
		a.catalog-card__wrap(href='#')
			.catalog-card__img
				img(src=`../../../../static/images/content/${img}.png`, alt=`${title}`)
			.catalog-card__content
				.catalog-card__count=countProduct
				.catalog-card__title=title
			.catalog-card__btn.btn.btn--circle
				+icon('arrow-right')
		.catalog-card__hidden
			.catalog-card__h-title=title
			.catalog-card__h-wrap
				ul.catalog-card__list
					li
						a(href='#') Конструкционные стали
					li
						a(href='#') Инструментальные стали
					li
						a(href='#') Литейная сталь
					li
						a(href='#') Нержавеющие трубы
					li
						a(href='#') Нержавеющий пруток
					li
						a(href='#') Нержавеющий квадрат
					li
						a(href='#') Нержавеющий шестигранник